<%= form_for(@event_recurrence) do |f| %>
  <% if @event_recurrence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_recurrence.errors.count, "error") %> prohibited this event_recurrence from being saved:</h2>

      <ul>
      <% @event_recurrence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bill_id %><br>
    <%= f.text_field :bill_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :every %><br>
    <%= f.text_field :every %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
